
<div class="col-md-4">
    <div class="card bg-primary border-light shadow mb-3" style="max-width: 18rem; height: 22rem;">
        <div class="card-header text-white">
            <h2 id="name">{{ name }}</h2>
            <h3><span class="fas fa-glasses"></span> Engineer</h3>
        </div>
        <div class="card-body bg-light align-content-center flex-wrap">
            <div class="p-3 bg-light list-group-flush">
                <ul class="list-group">
                    <li class="list-group-item">
                        ID : {{ id }}
                    </li>
                    <li class="list-group-item">
                        Email : <a href="{{ email }}">{{ email }}</a>
                    </li>
                    <li class="list-group-item">
                        Github : <a href="{{ github }}">{{ github }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
